<h1>HTML Questions </h1>
<table>
  <thead>
    <tr>
      <th>Questions:  </th>
      <th>Answers:  </th>
    </tr>
  </thead>

  <tbody>
    <% @skeletons.each do |skeleton| %>
    <tr>
      <td><%= skeleton.question %></td>
      <td><%= skeleton.answer %></td>
      <td><%= link_to "Show", skeleton_path(skeleton) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

      <%= link_to "HTML Home", new_skeleton_path %>



