<div id="top"><h1>HTML</h1></div>

<h3>What is the purpose of html?</h3>

<div id="A1">HTML is the language we use to create the basic layout and words for a page. HTML is limited in its use to information, which is why I refer to it as the skeleton, it tells the next layers where to form around the information you wish to convey in your app.</div>
<p> </p>
<h3>What is the difference between html, html.erb, and haml?</h3>

<div id="A2">HTML is the basic language we use to create the structure and organize the content of a webpage. Basic html is used for static pages (meaning a page which has interaction, but the content remains constant) It is used for most styling in conjunction with CSS and Javascript or other langiages.
  <p>HTMl.erb is specifically designed to work in conjunction with Ruby apps. Erb stands for Embedded Ruby. HAML works similarly, but has a slightly different organization --- More as I know this works ----</p></div>
<p> </p>
<h3>Why do some tags have names like < header > but not everything?</h3>

<div id="A3">Tags like header and footer were not included as independent tags in HTML4, but have been added to the lexicon due to use the fact that they are more commonly used. If you want to identify a tag which is not in the official HTML5 list, you must identify it as a class or an ID.  </div>
<p> </p>
<h3>When would I want to use a < div >?</h3>
<div id="A4">There are a lot of discussions on this. Some people consider the repetitive use of divs to be "hacky" others appreciate them for their ease of use. In general, a div would be used for surrounding a block with an ID or class so that everything within that block receives the CSS assigned.
<p>  </p>
<p>  </p>

<div id="path">
<%= link_to "Find a Question", new_skeleton_path %> |
<a href="top">Top of Page</a>
</div>
