<div id="top"><h1>HTML</h1></div>

<h3>What is the purpose of html?</h3>

<div id="A1">HTML is the language we use to create the basic layout and words for a page. HTML is limited in its use to information, which is why I refer to it as the skeleton, it tells the next layers where to form around the information you wish to convey in your app.</div>

<h3>What is the difference between html, html.erb, and haml?</h3>
<div id="A2">HTML is the basic language we use to create the structure and organize the content of a webpage. Basic html is used for static pages (meaning a page which has interaction, but the content remains constant) It is used for most styling in conjunction with CSS and Javascript or other langiages.
  <p>HTMl.erb is specifically designed to work in conjunction with Ruby apps. Erb stands for Embedded Ruby. HAML works similarly, but has a slightly different organization --- More as I know this works ----</p></div>

<h3>Why do some THINGIES have names like <header> but not everything?</h3>
<div id="A3">header is special</div>
<p>  </p>
<p>  </p>

<div id="path">
<%= link_to "Find a Question", new_skeleton_path %> |
<a href="top">Top of Page</a>
</div>
