<h2>Choose a Topic</h2>

<table>
  <thead>
    <th><strong><%= link_to "HTML", new_skeleton_path %></strong></th>
    <th><strong>CSS</strong></th>
    <th><strong>JQuery</strong></th>
    <th><strong>Ruby</strong></th>
    <th><strong>Rails</strong></th>
    <th><strong>Git and Github</strong></th>
  </thead>

  <tbody>
    <td>The Skeleton of your App</td>
    <td>The Skin of your App</td>
    <td>The Clothes of your App</td>
    <td>The Language of your App</td>
    <td>The Mouth and Vocabulary of your App</td>
    <td>The Cellular Structure</td>
  </tbody>
</table>
<div id="path">
<h3><%= link_to "Home", root_path %></h3>
<% if current_user.present? %>
<h3><%= link_to "Log out", logout_path %></h3>
<% end %>
</div>
